.informer {
  display: flex;
  border-radius: 8px;
  max-height: 40px;
  max-width: 182px;
  padding: 14px 12px;
  background-color: white;
  z-index: 1;
  color: black;
  cursor: default;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

.informer_type_tooltip {
  display: none;
  position: absolute;
  left: 160px;
  font-size: 10px;
  line-height: 12px;
}
