.nav {
  position: relative;
  display: flex;
  align-items: baseline;
  margin-block-end: 0;
  padding: 0;
  min-height: 50px;
  max-height: 66px;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__item {
  min-height: 50px;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
  color: #FFF;
  margin: 0 34px 0 0;
  border-bottom: 3px solid  transparent;
}

.nav__item:hover {
  color: #fff;
  cursor: pointer;
}

.nav__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 630px) {
  .nav__item {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 405px) {
  .nav__item {
    font-size: 16px;
    line-height: 24px;
    margin-right: 11px;
  }
}

.nav__item_active {
  color: #fff;
  border-bottom: 3px solid  #fff;
}

.nav__link {
  color: #fff;
  text-decoration: none;
}

.nav__link:hover {
  color: #888888;
}

.nav__link_active {
  color: #fff;
}

.main__menu-button {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid white;
  max-width: 176px;
  height: 48px;
  color: #fff;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: justify
}

.main__menu-button:hover {
  opacity: .5;
  transition: .5s;
  cursor: pointer;
}

.main__menu-button-icon {
  height: 16px;
  margin: auto 0 auto 10px;
}

/*Светлая тема*/
.menu_theme_light {
  color: #1A1B22;
}

.nav__item_active-light {
  border-bottom: 3px solid #1A1B22;
}

.nav__link_theme-light {
  color: #000;
  text-decoration: none;
}

.main__menu-button_light {
  border: 1px solid #D1D2D6;
  color: #1A1B22;
}
